.btn.btn-secondary {
    background-color: #e75480;
}

.text-muted{
    font-size: 20px;
    padding: 1px 0px 0px 0px;
    font-family: 'candara';
    text-transform: uppercase;
}

.badge{
    font-size: 20px!important;
    font-family: 'candara';
}

.img-carrinho{
    max-width: 200px;
    padding: 10px;
}

.produto{
    font-size: 1rem;
    font-family: 'candara';
}

.btn-group{
    box-shadow: none!important;
}