.text-center.nome-produto{
    color: black;
    font-size: 30px;
    font-family: 'Candara';
    text-transform: uppercase;
}

.card-body.text-center{
    display: inline;
}

.col-md-9{
    width: 60%!important;
}

.titulo-produto{
    color: black;
    font-size: 30px;
    font-family: 'Candara';
    text-transform: uppercase;
}

.rating{
    list-style: none;
    display: inline;
}