.menu {
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Candara';
    font-size: 18px;
    color: black;
}

.fas.fa-search {
    color: #e75480;
}

.navbar {
    box-shadow: none !important;
}

.nav-link {
    color: black;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.carousel .carousel-item {
    height: 600px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.submenu {
    padding: 30px 80px;
}

.btn.btn-primary {
    background-color: #e75480;
}

.pagination>li.active>a {
        background-color: #e75480!important;
}

.pagination{
    margin-top: 50px;
}

footer {
    background: rgba(233, 190, 198, 0.39);
}

.menu-produtos {
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
}

.box-titulo-categorias {
    background: black;
}



.titulo-categorias {
    color: #fff;
    padding: 10px;
    font-size: 2em;
    font-family: 'CenturyGothic';
    text-transform: uppercase;
}